* {
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    padding: 0;
}

.jumbotron {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .2)), url(../image/Bandung.jpg);
    background-position: center;
    background-size: cover;
    font-size: 20px;
    padding: 60px;
    text-align: center;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;

}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

h2,
h3{
    color: #00a2c6;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover{
    font-weight: bold;
}

.profile header{
    text-align: center;
}


nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: #00a2c6;
    padding: 5px;

    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}

footer{
    padding: 10px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

/* Perangkat dengan lebar layar 12000px dan di bawahnya */
@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
 nav ul {
    justify-content: center;
 }

 main {
    align-self: stretch;
 }
}